{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<body>
    <div>
        <h1>About me</h1>
        <p>Good morning, my name is A. Limanin! I am interested in the IT field to gain knowledge and experience. </p>
        <p>I am actively studying Python. I have completed several projects involving creating a parser, recording data into a database, and duplicating it in a Telegram bot.</p>
        
        <p>I have skills in Docker, SQLite, PostgreSQL, Django, and Linux. I am involved in an ideation startup.</p>

        <p>I am also actively learning English to improve my TOE reading and communication skills with foreign colleagues and clients.</p>

        <p>In my spare time, I engage in active sports like skiing and cycling to keep fit and maintain high spirits.</p>

        <p>Thank you for viewing the test assignment I have completed!</p>
    </div>
</body>

{% endblock %}

