{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<body>
    <div>
        <h2>Welcome! This is the Tree Menu Project. </h2>
        <h2>The test task was performed by A. Limanin, candidate for the Junior Python developer position. </h2>
        <h2>Steps to Create a Django App with Tree Menu:</h2>
        <ol>
            <li>
                <h3>Project and Application Creation:</h3>
                <p>A Django project named "tree_menu" has been created. An application named "app" is created inside the project.</p>
            </li>
            <li>
                <h3>Creating a Model for the Menu:</h3>
                <p>A MenuItem model with "title", "url" and a link to the parent item has been created in the "app" application.</p>
            </li>
            <li>
                <h3>Creating the Administrative Interface:</h3>
                <p>The MenuItem model has been registered in the administrative panel.</p>
            </li>
            <li>
                <h3>Creating Views:</h3>
                <p>Created a "home_view" view that displays the Home page. Created an "about_view" that displays the About page. Created a "contacts_view" that displays the "Contacts" page.</p>
            </li>
            <li>
                <h3>Creating URL Routes:</h3>
                <p>Added URL routes for the views in the "app"'s urls.py file.</p>
            </li>
            <li>
                <h3>Templates:</h3>
                <p>The templates "home.html", "about.html", and "contacts.html" were created in the "templates/app" folder.</p>
            </li>
            <li>
                <h3>Base Template:</h3>
                <p>A base template "base.html" was created, which contains the basic structure of the page.</p>
            </li>
            <li>
                <h3>Base Template Extension:</h3>
                <p>The "home.html", "about.html", and "contacts.html" templates each extended the contents of the base template.</p>
            </li>
            <li>
                <h3>Adding Menus:</h3>
                <p>A menu with "Home", "About", and "Contacts" buttons has been added to the "base.html" template.</p>
            </li>
            <li>
                <h3>Links and Jump Buttons:</h3>
                <p>Added links to the "Home", "About", and "Contacts" pages using the "{ % url % }" tag. Added "Home", "About" buttons to the "Contacts" page.</p>
            </li>
            <li>
                <h3>Adding Active Class:</h3>
                <p>Request.path comparison conditions have been added to highlight the active menu item.</p>
            </li>
            <li>
                <h3>Additional Instructions:</h3>
                <p>A "{ % draw_menu 'main_menu' % }" tag was added to match the task conditions.</p>
            </li>
        </ol>
    </div>
</body>
{% endblock %}
